[Unit]
Description=mongodb_exporter for prometheus
Wants=network-online.target
After=network-online.target

[Service]
User=root
Group=sudo
WorkingDirectory=/opt/mongodb_exporter
EnvironmentFile=/opt/mongodb_exporter/mongodb_exporter.env
ExecStart=/usr/local/bin/mongodb_exporter \
    --mongodb.uri=mongodb://127.0.0.1:27017 \
    --web.listen-address=127.0.0.1:9216 \
    --web.telemetry-path=/metrics \
    --collect-all
Restart=on-failure

[Install]
WantedBy=multi-user.target
