database/postgres/05-logical-backup/logical-upload/node_modules
database/postgres/04-physical-backup/pgbackrest/pgbackrest-stanza-delete/node_modules

bi_analytics/superset/setup/pythonpath_dev/__pycache__

tmp
.obsidian

rabbitmq/volume
