[Unit]
Description=pgbouncer_exporter for prometheus
Wants=network-online.target
After=network-online.target

[Service]
User=postgres
Group=postgres
WorkingDirectory=/opt/pgbouncer_exporter
EnvironmentFile=/opt/pgbouncer_exporter/pgbouncer_exporter.env
ExecStart=/usr/local/bin/pgbouncer_exporter \
    --web.listen-address=127.0.0.1:9127 \
    --web.telemetry-path=/metrics \
    --pgBouncer.connectionString="postgresql://stats:stats@localhost:6432/pgbouncer?sslmode=disable"
Restart=on-failure

[Install]
WantedBy=multi-user.target
